/*


   Magic Thumb v3.0.18
   Copyright 2021 Magic Toolbox
   Buy a license: https://www.magictoolbox.com/magicthumb/
   License agreement: https://www.magictoolbox.com/license/


*/
.MagicThumb > span {
    display: none;
}

.mgt-hint,
.mgt-loading {
    color: #eee;
    direction: ltr;
    text-align: center;
    text-decoration: none;
    background: rgba(49,51,61,0.7);
    font: normal 12px/1.2em 'Lucida Grande', 'Lucida Sans Unicode', Verdana, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mgt-hint {
    left: 0;
    right: 0;
    bottom: 8px;
    padding: 0 10%;
    -webkit-transition: opacity 0.25s ease, z-index 0.25s ease;
            transition: opacity 0.25s ease, z-index 0.25s ease;
}

.mgt-hint-message {
    border-radius: 2em;
    padding: .7em 1.1em;
    background: rgba(49,51,61,0.7);
}

.mgt-hint-message:before {
    speak: none;
    font-size: 1.5em;
    content: '\02295';
    margin-right: 6px;
    font-family: serif;
    text-align: center;
    vertical-align: -2px;
    -webkit-transition: opacity 0.25s ease;
            transition: opacity 0.25s ease;
}

.mobile-magic .mgt-hint-message:before {
    display: none;
}

.mgt-hint-hidden {
    opacity: 0;
    z-index: -1;
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
}

.mgt-loading {
    top: 50%;
    left: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 0;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.mgt-loading:after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    text-indent: -9999em;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
    border-top-color: transparent;
    box-sizing: border-box;

    -webkit-animation: thumb-loading .9s infinite linear;
            animation: thumb-loading .9s infinite linear;
}

@-webkit-keyframes thumb-loading {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes thumb-loading {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* Style of the small image link */
.MagicThumb, .MagicThumb:hover {
    z-index: 1;
    direction: ltr;
    max-width: 100%;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: inline-block;
    position: relative;
}

/* Style of the small image */
.MagicThumb img {
    height: auto;
}

.MagicThumb > img {
    display: inline-block !important;
    width: 100%;
}

td > .MagicThumb > img,
td > .MagicThumb.magic-for-ie8 > img {
    max-width: none;
    width: auto;
}


/* Style of the expanded image */
.MagicThumb-expanded {
    outline: 0;
    padding: 0;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
    background-color: transparent;
    background-color: #f2f2f2;
    border: 0px solid #f2f2f2;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.MagicThumb-expanded.mgt-video {
    cursor: default;
}

/* Style of the caption for the expanded image */
.mgt-caption {
    color: #333;
    padding: 8px;
    text-align: left;
    line-height: 18px;
    background-color: transparent;
    background-color: #f2f2f2;
    font: normal 10pt/1.5 'Lucida Grande', 'Lucida Sans Unicode', Verdana, 'Helvetica Neue', Helvetica;
}

.mgt-caption-right {
    padding-right: 300px;
}

.mgt-caption-right .mgt-caption {
    max-width: 300px;
}

.mgt-caption-bottom .mgt-caption {
    height: 54px;
}

.MagicThumb-expanded .mgt-caption {
    transition: color .25s ease !important;
    opacity: 1;
}

.mgt-expand-stage .MagicThumb-buttons .mgt-button {
    opacity: .6;
    width: 44px;
    height: 44px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.25);
    -webkit-transition: background-color .25s, border-radius 0.5s, opacity 0.5s !important;
            transition: background-color .25s, border-radius 0.5s, opacity 0.5s !important;
}

.MagicThumb-buttons .mgt-button:before,
.MagicThumb-buttons .mgt-button[rel=close]:after {
    content: "";
    top: 50%;
    width: 40%;
    height: 40%;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
}

:root:not(.mobile-magic) .MagicThumb-buttons:not(.compact-buttons) .mgt-button:hover,
:root.mobile-magic .MagicThumb-buttons:not(.compact-buttons) .mgt-button:active {
    opacity: 1;
    border-radius: 0;
    background-color: rgba(255,255,255,0.1);
}

.MagicThumb-buttons .mgt-button[rel=prev],
.MagicThumb-buttons .mgt-button[rel=next] {
    top: 0 !important;
    bottom: 0 !important;
    overflow: hidden !important;
    margin: auto 10px;
    z-index: 90;
}
.MagicThumb-buttons .mgt-button[rel=prev] {
    left: 0 !important;
}
.MagicThumb-buttons .mgt-button[rel=next] {
    right: 0 !important;
}

.MagicThumb-buttons .mgt-button[rel=prev]:before {
    left: 40%;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.MagicThumb-buttons .mgt-button[rel=next]:before {
    left: 15%;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.MagicThumb-buttons .mgt-button[rel=close] {
    top: 0 !important;
    right: 0 !important;
    margin: 10px !important;
    z-index: 95;
}

.MagicThumb-buttons .mgt-button[rel=close]:before,
.MagicThumb-buttons .mgt-button[rel=close]:after {
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: white;
}

.MagicThumb-buttons .mgt-button[rel=close]:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.MagicThumb-buttons .mgt-button[rel=close]:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.mac-magic .MagicThumb-buttons .mgt-button[rel=close] {
    left: 0 !important;
    right: auto !important;
}

.MagicThumb-buttons.compact-buttons {
    position: absolute;
}
.MagicThumb-buttons.tl {
    top: 5px;
    left: 5px;
}
.MagicThumb-buttons.tr {
    top: 5px;
    right: 5px;
}
.MagicThumb-buttons.bl {
    bottom: 5px;
    left: 5px;
}
.MagicThumb-buttons.br {
    bottom: 5px;
    right: 5px;
}

.MagicThumb-buttons.compact-buttons .mgt-button {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 !important;
    background-color: rgba(0,0,0,.75);
    border: 1px solid rgba(255,255,255,0.1);
}
.MagicThumb-buttons.compact-buttons .mgt-button:hover {
    background-color: rgba(0,0,0,1);
    border-radius: 0;
}
.MagicThumb-buttons.compact-buttons .mgt-button+.mgt-button {
    margin-left: 2px !important;
}
.MagicThumb-buttons.compact-buttons .mgt-button[rel=prev]:before {
    background-position: -48px 0px;
}
.MagicThumb-buttons.compact-buttons .mgt-button[rel=next]:before {
    background-position: -72px 0px;
}
.MagicThumb-buttons.compact-buttons .mgt-button[rel=close]:before {
    background-position: -24px 0px;
}

@media screen and (max-device-width: 767px) {
    .mobile-magic.mgt-expand-open .MagicThumb-expanded,
    .mobile-magic.mgt-expand-open .MagicThumb-expanded .mgt-figure {
        overflow: visible !important;
    }
}

.lt-ie9-magic .MagicThumb-expanded { filter: none !important; }
.lt-ie9-magic .MagicThumb-buttons a {
    background-color: #000;
    filter: alpha(opacity=60);
}
.lt-ie9-magic .MagicThumb-buttons a:hover {
    filter: alpha(opacity=100);
}

.mgt-bg {
    opacity: 0;
    background-color: #000;
}

.mgt-bg.onexpand {
    opacity: .8;
}

.mgt-selector, .mgt-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}

.mgt-visible {
    opacity: 1;
}

/* Style of the small image when the large image is expanded */
.MagicThumb-expanded-thumbnail {
    cursor: default;
}

/* Style of the small images which swap the main image */
.MagicThumb-swap {
}

/* Style to hide caption on page. Only needed for #id method. */
.MagicThumb-external-caption {
    display: none;
}

.mgt-selector:hover img {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
}

.mgt-selector.mgt-active img {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.mgt-video-icon {
    position: relative;
    display: inline-block;
}

.mgt-video-icon:before,
.mgt-video-icon:after {
    content: '' !important;
    top: 50% !important;
    left: 50% !important;
    position: absolute !important;
    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
    -webkit-transform: translateY(-50%) translateX(-50%) !important;
            transform: translateY(-50%) translateX(-50%) !important;
}

.mgt-video-icon:before {
    color: #fff;
    text-shadow: 0px 1px 10px #000;
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-color: rgba(0,0,0,0.5);
    background-size: 50%;
    background-position: center center !important;
    z-index: 1 !important;
}

.mgt-video-icon:after {
    width: 12px !important;
    height: 16px !important;
    border-style: solid !important;
    border-top-width: 8px !important;
    border-top-color: transparent !important;
    border-left-width: 12px !important;
    border-left-color: rgba(255,255,255,0.8);
    border-bottom-width: 8px !important;
    border-bottom-color: transparent !important;
    border-right-width: 0px !important;
    margin-left: 1px !important;
    z-index: 2 !important;
}

.mgt-video-reset:before,
.mgt-video-reset:after {
    content: none !important;
}
