/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 .sf-contener{
     width: auto;
 }
 .sf-menu > li{
    background: #f8f8f8   
 }
.sf-menu > li > a{
    font: 500 17px/17px Noto Sans,sans-serif;
    padding: 10px 15px;
}