/**
 * 2008-2021 Prestaworld
 *
 * All right is reserved,
 *
 * @author    Prestaworld <prestaworld12@gmail.com>
 * @copyright 2008-2021 Prestaworld
 * @license   One Paid Licence By WebSite Using This Module. No Rent. No Sell. No Share.
 */

.searched-result p {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.searched-result p:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background: #89d9ff87;
    border-color: #89d9ff87;
}
.selected-product {
    background: #25b9d7;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0px 8px 10px;
}
.selected-result {
    background: #25b9d7;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 5px;
    display: none;
}
.presta_img_container img, .presta_customer {
    display: none;
}
