/**
 * 2008-2021 Prestaworld
 *
 * All right is reserved,
 *
 * @author    Prestaworld <prestaworld12@gmail.com>
 * @copyright 2008-2021 Prestaworld
 * @license   One Paid Licence By WebSite Using This Module. No Rent. No Sell. No Share.
 */

.presta_eligible {
    margin: 10px 0;
}

.presta_eligible span{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.presta_eligible i {
    color: #2391a9;
}
