/**
 * 2008-2021 Prestaworld
 *
 * All right is reserved,
 *
 * @author    Prestaworld <prestaworld12@gmail.com>
 * @copyright 2008-2021 Prestaworld
 * @license   One Paid Licence By WebSite Using This Module. No Rent. No Sell. No Share.
 */

.presta_price_usage_container {
    width: 100%;
    background-color: #ddd;
}
#presta_main {
    background: #FFFFFF;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}
.presta_used {
    text-align: right;
    padding: 10px;
    color: white;
    width: 90%;
    background-color: #4CAF50;
}
.presta_right {
    float: right;
}
.presta_left {
    float: left;
}
.presta_balance {
    color: #4CAF50;
}
div.presta_unbilled span {
    font-size: 28px;
    font-weight: 600;
    min-width: 170px;
    float: left;
    vertical-align: middle;
    line-height: 42px;
}
.presta_transaction {
    margin-top: 35px;
}
p.presta_heading {
    font-size: 20px
}
div.presta_transaction_block {
    background: #ffffff;
    border: 1px solid #ddd;
}
div.presta_transaction_head {
    background: #ddddddb3;
    padding: 10px;
}
div.presta_transaction_details {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}
div.presta_transaction_details .presta_inner {
    padding: 10px 0px;
}
div.presta_order_detail, div.presta_order_reference {
    float: left;
    width: 100%;
}
.presta_order_detail {
    display: none;
}
div.presta_order_detail .presta_inner {
    min-height:30px;
}
div.presta_order_reference {
    margin: 10px 0 0 15px;
    font-size: 14px;
    color: #777474;
}
div.presta_order_ref {
    width:12%;
}
.presta_cr_transaction {
    color: #4CAF50;
}
div.presta_item span.late-fee {
    color: red;
}
.presta-right {
    float: right;
    font-size: 20px;
    font-weight: 600;
}
