#wallet_dashboard .nav {
  background-color: rgba(148, 146, 161, 0.08);
  padding: 10px;
}

#wallet_dashboard .nav li {
  text-transform: uppercase;
  font-weight: 600;
}

#wallet_dashboard span.data_label {
  color: #00aff0;
}

#wallet_dashboard .data_list_large {
  padding: 0;
  margin: 8px 0 10px 0;
}

#wallet_dashboard .data_list_large li {
  padding: 6px 0;
  position: relative;
  border: none;
  margin: 0;
  list-style: none;
}

#wallet_dashboard .data_list_large .data_label {
  line-height: 0.8em;
}

#wallet_dashboard .data_list_large .data_label small {
  font-size: 0.6em;
}

#wallet_dashboard .data_list_large .data_value {
  text-align: right;
  line-height: 0.6em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0 0 0;
}

#wallet_dashboard section>header {
  padding: 3px 8px;
  color: #fff;
  font-size: 1.2em;
  background-color: #00aff0;
  margin: 0 0 3px 0;
}

#wallet_dashboard .data_list {
  padding: 0;
  margin: 0 0 10px 0;
}

#wallet_dashboard .data_list li {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: none
}

 #wallet_dashboard .data_list li:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#wallet_dashboard .data_list li:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#wallet_dashboard .data_list .data_value {
  line-height: 39px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px 0 0;
}

#wallet_admin_customers .switch-light a {
    position: absolute;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
    left: 50%
}

#wallet_admin_customers .switch {
    display: block;
    height: 26px;
    position: relative
}

#wallet_admin_customers .switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#wallet_admin_customers .switch a {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

#wallet_admin_customers .switch label,
#wallet_admin_customers .switch>span {
    line-height: 26px;
    vertical-align: middle
}

#wallet_admin_customers .switch input {
    position: absolute;
    opacity: 0
}

#wallet_admin_customers .switch label {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: center;
    float: left
}

#wallet_admin_customers .switch a {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    color: #fff;
    border: solid 1px #279CBB;
    background-color: #2eacce;
    left: 0;
    -webkit-box-shadow: "#1B7088" 0 -1px 0 inset;
    box-shadow: "#1B7088" 0 -1px 0 inset
}

#wallet_admin_customers .switch input:last-of-type:checked ~ a {
    border: solid 1px #CA6F6F;
    background-color: #E08F95;
    left: 50%;
    -webkit-box-shadow: "#5C5C5C" 0 -1px 0 inset;
    box-shadow: "#5C5C5C" 0 -1px 0 inset
}

#wallet_admin_customers .switch input:disabled ~ a {
    border: solid 1px #b3b3b3 !important;
    background-color: #ccc !important;
    -webkit-box-shadow: #b3b3b3 0 -1px 0 inset !important;
    box-shadow: #b3b3b3 0 -1px 0 inset !important
}

#wallet_admin_customers .prestashop-switch {
    margin-top: 3px;
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    text-align: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px 1px inset;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px 1px inset
}

#wallet_admin_customers .prestashop-switch * {
    outline: 0 !important
}

#wallet_admin_customers .prestashop-switch label {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

#wallet_admin_customers .prestashop-switch input:checked+label {
    color: #fff
}

#wallet_admin_customers .prestashop-switch>span {
    color: #666;
    text-transform: uppercase;
    cursor: pointer
}
