.prepayment-main-content .row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.prepayment-main-content .row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding: 15px
}

.prepayment-main-content .max-width-lg {
    max-width: 860px;
    margin: auto;
}

.prepayment-main-content .content {
    position: relative;
}

.prepayment-main-content .alert {
    display: none;
    padding: 12px 20px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -50px;
    font-size: 12px;
    text-shadow: none;
    font-weight: 500;
}

.prepayment-main-content .alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.prepayment-main-content label {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0,0,0,.38);
    display: inline-block;
    font-size: 16px;
}

.prepayment-main-content h3 {
    color: #7a7a7a;
    margin: 0;
    margin-bottom: 24px;
}

.prepayment-main-content button,
.prepayment-main-content input {
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.prepayment-main-content input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.prepayment-main-content .separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 16px;
}

@media (max-width: 991px) {
    .prepayment-main-content .separator {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .prepayment-main-content .separator {
        flex-direction: column;
    }
}

.prepayment-main-content .separator::before,
.prepayment-main-content .separator::after {
    content: '';
    flex: 1;
    width: 1px;
    background: #2fb5d2;
    margin: .25em;
    height: 1px;
}


.prepayment-main-content .m-auto {
    margin: auto !important;
}

.prepayment-main-content .d-none {
    display: none !important;
}

.prepayment-main-content .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.prepayment-main-content .justify-content-center {
    justify-content: center !important;
}

.prepayment-main-content .flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.prepayment-main-content .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.prepayment-main-content .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.prepayment-main-content .bg-light {
    background-color: #fff!important;
}

.prepayment-main-content .ta-center {
    text-align: center !important;
}

.prepayment-main-content .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.prepayment-main-content .card {
    min-width: 0;
    position: relative;
    height: calc(36px + 2*1rem);
    color: #232323;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #bbcdd2;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.prepayment-main-content .card:hover {
    cursor: pointer;
}

.prepayment-main-content .card.selected {
    border: 2px solid #2fb5d2;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

.prepayment-main-content .card.selected::after {
    content: '\e802';
    color: #2fb5d2;
    font-family: "prepayment";
    font-size: 24px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.prepayment-main-content .mt-3 {
    margin-top: 16px!important;
}

.prepayment-main-content .mt-6 {
    margin-top: 32px!important;
}

.prepayment-main-content .mt-9 {
    margin-top: 48px!important;
}

.prepayment-main-content .mt-12 {
    margin-top: 64px!important;
}

.prepayment-main-content .mb-6 {
    margin-bottom: 32px!important;
}

.prepayment-main-content .form-group {
    margin: 0
}

.prepayment-main-content .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.prepayment-main-content .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    padding: .5rem 1rem;
    display: block;
    line-height: 1.5;
    color: #363a41;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #bbcdd2;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: calc(36px + 2*1rem);
    font-size: 18px;
    font-weight: 600;
    border-right: 0;
}

.prepayment-main-content .input-group.selected .form-control,
.prepayment-main-content .input-group.selected .input-group-text {
    border-color: #2fb5d2 !important;
}

.prepayment-main-content .form-control-label {
    margin-bottom: 5px;
    margin-bottom: .3125rem;
    color: #363a41;
    text-align: left;
    padding: 0
}

.prepayment-main-content .input-group-text {
    font-size: 18px;
    font-weight: 600;
    padding: .5rem 1rem;
    color: #6c868e;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: #fafbfc;
    border: 2px solid #bbcdd2;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.prepayment-main-content .input-group-append {
    margin-left: -1px;
    display: flex;
}

@-webkit-keyframes fadeInCheckbox {
    from {
        opacity: 0;
        -webkit-transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes fadeInCheckbox {
    from {
        opacity: 0;
        transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}
