@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed");
@font-face {
  font-family: 'prepayment';
  src: url('../../fonts/prepayment.eot?97606011');
  src: url('../../fonts/prepayment.eot?97606011#iefix') format('embedded-opentype'),
       url('../../fonts/prepayment.woff2?97606011') format('woff2'),
       url('../../fonts/prepayment.woff?97606011') format('woff'),
       url('../../fonts/prepayment.ttf?97606011') format('truetype'),
       url('../../fonts/prepayment.svg?97606011#prepayment') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'prepayment';
    src: url('../font/prepayment.svg?97606011#prepayment') format('svg');
  }
}
*/

 [class^="prepayment-icon-"]:before, [class*=" prepayment-icon-"]:before {
  font-family: "prepayment";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.prepayment-icon-th-large:before { content: '\e800'; } /* '' */
.prepayment-icon-right-open:before { content: '\e801'; } /* '' */
.prepayment-icon-left-open:before { content: '\e802'; } /* '' */
.prepayment-icon-suitcase:before { content: '\f0f2'; } /* '' */
.prepayment-icon-angle-circled-left:before { content: '\f137'; } /* '' */
.prepayment-icon-angle-circled-right:before { content: '\f138'; } /* '' */
.prepayment-icon-ticket:before { content: '\f145'; } /* '' */

/*******************************************************************************
Nav/header hook
*******************************************************************************/
#module-prepayment-nav.display_top {
    float:right;
    padding-right: 10px;
    padding-left: 10px;
}

#module-prepayment-nav .header_user_info {
	margin-left: 1rem;
	margin-top: 0.9375rem;
}

#module-prepayment-nav .header_user_info a {
    background: inherit;
    font-weight: 600;
    font-size: 16px;
}

#module-prepayment-nav .header_user_info i {
    color: rgb(178, 12, 111);
    padding-right: 5px;
}

/*******************************************************************************
Payment selection page
*******************************************************************************/
#module-prepayment-payment p.payment_module a.wallet {
    background: url(../../img/cash.png) 15px 12px no-repeat #fbfbfb;
}

/*******************************************************************************
Customer wallet page
*******************************************************************************/
#module-prepayment-dashboard .block-center .block-balance {
    float:left;
    width:auto;
    padding-right:20px;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

#module-prepayment-dashboard .block-center .block-balance .amount-left {
    font-size: 24px;
    font-weight: 800;
    color: #E41A92
}

#module-prepayment-dashboard .block-center .block-buy .button.button-small {
    font: bold 13px/17px Arial, Helvetica, sans-serif;
    color: #fff;
    background: #6f6f6f;
    border: 1px solid;
    border-color: #666666 #5f5f5f #292929 #5f5f5f;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#module-prepayment-dashboard .block-center .block-buy .button.button-small span {
    display: block;
    padding: 8px;
    border: 1px solid;
    border-color: #8b8a8a;
}

#module-prepayment-dashboard .block-center .block-buy .button.button-small span i.right {
    margin-right: 0;
    margin-left: 5px;
}

#module-prepayment-dashboard .block-center .block-history {
    padding-top: 30px;
    clear: both;
}

#module-prepayment-dashboard .block-center .block-history .title {
    padding-bottom:10px;
    font-size: 18px;
}

#module-prepayment-dashboard .block-center .block-history table {
    margin-top: 10px;
    margin-bottom: 30px;
}

#module-prepayment-dashboard .block-center .block-history .table-bordered {
    border: 1px solid #d6d4d4;
}

#module-prepayment-dashboard .block-center .block-history .table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

#module-prepayment-dashboard .block-center .block-history .table .label-operation {
    display: block;
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
}

#module-prepayment-dashboard .block-center .block-history .table > thead > tr > th {
    background: #fbfbfb;
    border-bottom-width: 1px;
    color: #333;
    vertical-align: middle;
}

#module-prepayment-dashboard .block-center .block-history .table-bordered > thead > tr > th,
#module-prepayment-dashboard .block-center .block-history .table-bordered > thead > tr > td,
#module-prepayment-dashboard .block-center .block-history .table-bordered > tbody > tr > th,
#module-prepayment-dashboard .block-center .block-history .table-bordered > tbody > tr > td,
#module-prepayment-dashboard .block-center .block-history .table-bordered > tfoot > tr > th,
#module-prepayment-dashboard .block-center .block-history .table-bordered > tfoot > tr > td {
    border: 1px solid #d6d4d4;
}

#module-prepayment-dashboard .block-center .block-history .table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6d4d4;
}

#module-prepayment-dashboard .block-center .block-history .table thead > tr > th,
#module-prepayment-dashboard .block-center .block-history .table thead > tr > td,
#module-prepayment-dashboard .block-center .block-history .table tbody > tr > th,
#module-prepayment-dashboard .block-center .block-history .table tbody > tr > td,
#module-prepayment-dashboard .block-center .block-history .table tfoot > tr > th,
#module-prepayment-dashboard .block-center .block-history .table tfoot > tr > td {
    padding: 9px 10px;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #d6d4d4;
}

#module-prepayment-dashboard .block-center .block-history table td,
#module-prepayment-dashboard table th {
    padding: 9px 10px;
    text-align: left;
}

#module-prepayment-dashboard .block-center .block-history .amount {
    font-weight: 600;
}

#module-prepayment-dashboard .block-center .block-history .amount.negative {
    color: #E41A92;
}

#module-prepayment-dashboard .block-center .block-history table th {
    font-weight: bold;
}

#module-prepayment-dashboard .text-center {
    text-align: center!important;
}

#module-prepayment-dashboard .text-left {
    text-align: left!important;
}

#module-prepayment-dashboard .text-right {
    text-align: right!important;
}

/*******************************************************************************
Column
*******************************************************************************/
#module-prepayment-column .products_block {
	background: white;
    margin-bottom: 25px;
    padding: 15px;
}

/*******************************************************************************
Gifts column
*******************************************************************************/
#module-prepayment-column #gifts .block_content .gift_box {
    margin-top: 5px;
    font-size: 12px;
}

#module-prepayment-column #gifts .block_content .gift_box i {
    font-size: 30px;
    float:left;
    margin-right: 10px;
}

#module-prepayment-column #gifts .block_content .gift_box .content_amount {
    font-weight: 800;
    color: #B20C6F;
}

#module-prepayment-column #gifts .block_content .gift_box .content_conditions {
    font-size: 10px
}

/*******************************************************************************
Gifts Fancy Box
*******************************************************************************/
.block-gift-conditions .panel-heading {
    background-color: #292929;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.block-gift-conditions .panel-heading h3 {
    color: white;
    padding: 0;
    margin: 0;
}

.block-gift-conditions .panel-content {
    border: 1px solid#292929;
    padding-top: 10px;
}

.block-gift-conditions .panel-content h4 {
    font-size: 17px;
    font-weight: bold;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
    text-transform: uppercase
}

.block-gift-conditions .panel-content .condition {
    padding: 10px
}

.block-gift-conditions .panel-content .item {
    font-size: 13px;
}

.block-gift-conditions .panel-content .condition .value {
    color: rgb(178, 12, 111);
    font-size: 14px;
    font-weight: bold
}

/*******************************************************************************
Hook shopping cart
*******************************************************************************/
#module-prepayment-cart .box {
    background: #fbfbfb;
    border: 1px solid #d6d4d4;
    padding: 14px 18px 13px;
    margin: 0 0 30px 0;
    line-height: 23px;
 }

 #module-prepayment-cart .box .page-subheading {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #555454;
    font-size: 15px;
    line-height: normal;
}
