<script type="text/html" id="edit_with_button">
	<a href="{$proper_href}" id="edit_with_button_link" class="button button-primary button-hero"><img src="{$icon_url}" alt="Crazy Elements Logo"> {l s='Edit with Crazyelements' mod='crazyelements'}</a>
</script>