p.payment_module a.senangpay:after {
    color: #777777;
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 14px;
}
p.payment_module a.senangpay {
	background: url("../img/senangpay.png") no-repeat scroll 15px 15px #fbfbfb;
}

section.sp-alt {
    background: grey;
    border-radius: 7px;
    color: white !important;
    padding: 15px;
    margin-bottom: 30px;
}

section.sp-alt p {
    color: white;
    margin-bottom: 0;
}

.sp-a {
    background: #3b393a;
    padding: 10px 0;
    text-align: center;
}

section.sp-paid {
    border: #3b393a solid;
    background: white;
}

section.sp-paid p {
    margin-top: 10px;
    padding: 0 20px;
    color: black;
    /* font-weight: bold; */
}

.sp-b {
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: solid white;
    background: #05a23e;
}

section.sp-paid span {
    color: #05a23e;
    font-weight: bold;
}

#sp-err .box, #sp-pnm .box {
    padding: 20px 40px;
    border: solid #3b393a;
}

p.cheque-indent {
    color: black;
}

section#sp-pnm p {
    color: black;
}