{**
* NOTICE OF LICENSE
*
* This source file is subject to a commercial license from MigrationPro
* Use, copy, modification or distribution of this source file without written
* license agreement from the MigrationPro is strictly forbidden.
* In order to obtain a license, please contact us: contact@migration-pro.com
*
* INFORMATION SUR LA LICENCE D'UTILISATION
*
* L'utilisation de ce fichier source est soumise a une licence commerciale
* concedee par la societe MigrationPro
* Toute utilisation, reproduction, modification ou distribution du present
* fichier source sans contrat de licence ecrit de la part de la MigrationPro est
* expressement interdite.
* Pour obtenir une licence, veuillez contacter la MigrationPro a l'adresse: contact@migration-pro.com
*
* @author    MigrationPro
* @copyright Copyright (c) 2012-2021 MigrationPro
* @license   Commercial license
* @package   MigrationPro: WooCommerce To PrestaShop Migration Tool
*}

<div style="border: 1px solid red; padding: 0.5em; margin: 0.5em;">
    <strong>{l s='Response Debug:' mod='woomigrationpro'} {$msg|escape:'htmlall':'UTF-8'}</strong>
    <pre>
    {print_r($object, true)|escape:'htmlall':'UTF-8'}
</pre>
</div>